.block_for_effect{
    padding: 0%;
    text-align: center; 
}
.block_for_effect h1{
    color: #76B9D7;
}


.row-2{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.item-hover{
    display: inline-block;
}


.highlight pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

pre.prettyprint {
    padding: 15px;
    border: 0;
    background: rgba(101, 163, 183, 0.06);
}

.color-item {
    font-size: 12px;
    line-height: 28px;
    padding-left: 8px;
    width: 200px;
    color: #ABABAB;
    height: 28px;
}


.item-hover {
    position: relative;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover, .item-hover * {
    box-sizing: border-box;
}
.item-hover a {
    color: #333;
}
.item-hover a:hover {
    text-decoration: none;
}
.item-hover img {
    height: 100%;
    width: 100%;
}
.item-hover.circle {
    border-radius: 50%;
    height: 211px;
    position: relative;
    width: 211px;
}
.item-hover.circle .img {
    border-radius: 50%;
    height: 211px;
    position: relative;
    width: 211px;
}
.item-hover.circle .img:before {
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.35s ease-in-out 0s;
    width: 100%;
}
.item-hover.circle .img img {
    border-radius: 50%;
}
.item-hover.circle .info {
    backface-visibility: hidden;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.item-hover.square {
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    height: 216px;
    position: relative;
    width: 316px;
}
.item-hover.square .info {
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.item-hover .info .icons {
    color: #ffffff;
    font-size: 26px;
    margin-top: 90px;
}
.item-hover .info .icons i {
    margin-right: 5px;
}
.item-hover.circle.effect1 .spinner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #76b9d7 #c7c7c7 #c7c7c7 #76b9d7;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: 231px;
    transition: all 0.8s ease-in-out 0s;
    width: 231px;
}
.item-hover.circle.effect1.colored .spinner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #76b9d7 #c7c7c7 #c7c7c7 #76b9d7;
    border-image: none;
    border-style: solid;
    border-width: 5px;
}
.item-hover.circle.effect1 .img {
    bottom: 0;
    left: 10px;
    position: absolute;
    right: 0;
    top: 10px;
}
.item-hover.circle.effect1 .img:before {
    display: none;
}
.item-hover.circle.effect1.colored .info {
    background: none repeat scroll 0 0 rgba(118, 185, 215, 0.5);
}
.item-hover.circle.effect1 .info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 211px;
    left: 10px;
    opacity: 0;
    right: 0;
    top: 10px;
    transition: all 0.8s ease-in-out 0s;
    width: 211px;
}
.item-hover.circle.effect1 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect1.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect1 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect1.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect1 a:hover .spinner {
    transform: rotate(180deg);
}
.item-hover.circle.effect1.counterclockwise a:hover .spinner {
    transform: rotate(-180deg);
}
.item-hover.circle.effect1 a:hover .info {
    opacity: 1;
}
.item-hover.circle.effect2 .img {
    opacity: 1;
    transform: scale(1);
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect2.colored .info {
    background: none repeat scroll 0 0 rgba(118, 185, 215, 0.5);
}
.item-hover.circle.effect2 .info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect2 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect2.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect2 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect2.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect2.left_to_right .info {
    transform: translateX(-100%);
}
.item-hover.circle.effect2.left_to_right a:hover .img {
    transform: rotate(-90deg);
}
.item-hover.circle.effect2.left_to_right a:hover .info {
    opacity: 1;
    transform: translateX(0px);
}
.item-hover.circle.effect2.right_to_left .info {
    transform: translateX(100%);
}
.item-hover.circle.effect2.right_to_left a:hover .img {
    transform: rotate(90deg);
}
.item-hover.circle.effect2.right_to_left a:hover .info {
    opacity: 1;
    transform: translateX(0px);
}
.item-hover.circle.effect2.top_to_bottom .info {
    transform: translateY(-100%);
}
.item-hover.circle.effect2.top_to_bottom a:hover .img {
    transform: rotate(-90deg);
}
.item-hover.circle.effect2.top_to_bottom a:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.item-hover.circle.effect2.bottom_to_top .info {
    transform: translateY(100%);
}
.item-hover.circle.effect2.bottom_to_top a:hover .img {
    transform: rotate(90deg);
}
.item-hover.circle.effect2.bottom_to_top a:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.item-hover.circle.effect3 .img {
    transition: all 0.35s ease-in-out 0s;
    z-index: 11;
}
.item-hover.circle.effect3.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect3 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect3 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect3.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect3 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect3.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect3.left_to_right .img {
    transform: scale(1) translateX(0px);
}
.item-hover.circle.effect3.left_to_right .info {
    transform: translateX(-100%);
}
.item-hover.circle.effect3.left_to_right a:hover .img {
    transform: scale(0.5) translateX(100%);
}
.item-hover.circle.effect3.left_to_right a:hover .info {
    opacity: 1;
    transform: translateX(0px);
}
.item-hover.circle.effect3.right_to_left .img {
    transform: scale(1) translateX(0px);
}
.item-hover.circle.effect3.right_to_left .info {
    transform: translateX(100%);
}
.item-hover.circle.effect3.right_to_left a:hover .img {
    transform: scale(0.5) translateX(-100%);
}
.item-hover.circle.effect3.right_to_left a:hover .info {
    opacity: 1;
    transform: translateX(0px);
}
.item-hover.circle.effect3.top_to_bottom .img {
    transform: scale(1) translateY(0px);
}
.item-hover.circle.effect3.top_to_bottom .info {
    transform: translateY(-100%);
}
.item-hover.circle.effect3.top_to_bottom a:hover .img {
    transform: scale(0.5) translateY(100%);
}
.item-hover.circle.effect3.top_to_bottom a:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.item-hover.circle.effect3.bottom_to_top .img {
    transform: scale(1) translateY(0px);
}
.item-hover.circle.effect3.bottom_to_top .info {
    transform: translateY(100%);
}
.item-hover.circle.effect3.bottom_to_top a:hover .img {
    transform: scale(0.5) translateY(-100%);
}
.item-hover.circle.effect3.bottom_to_top a:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.item-hover.circle.effect4 .img {
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
}
.item-hover.circle.effect4.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect4 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease 0s;
    visibility: hidden;
}
.item-hover.circle.effect4 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect4.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect4 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect4 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect4 a:hover .img {
    opacity: 0;
    pointer-events: none;
}
.item-hover.circle.effect4 a:hover .info {
    opacity: 1;
    visibility: visible;
}
.item-hover.circle.effect4.left_to_right .img {
    transform: translateX(0px);
}
.item-hover.circle.effect4.left_to_right .info {
    transform: translateX(-100%);
}
.item-hover.circle.effect4.left_to_right a:hover .img {
    transform: translateX(100%);
}
.item-hover.circle.effect4.left_to_right a:hover .info {
    transform: translateX(0px);
}
.item-hover.circle.effect4.right_to_left .img {
    transform: translateX(0px);
}
.item-hover.circle.effect4.right_to_left .info {
    transform: translateX(100%);
}
.item-hover.circle.effect4.right_to_left a:hover .img {
    transform: translateX(-100%);
}
.item-hover.circle.effect4.right_to_left a:hover .info {
    transform: translateX(0px);
}
.item-hover.circle.effect4.top_to_bottom .img {
    transform: translateY(0px);
}
.item-hover.circle.effect4.top_to_bottom .info {
    transform: translateY(100%);
}
.item-hover.circle.effect4.top_to_bottom a:hover .img {
    transform: translateY(-100%);
}
.item-hover.circle.effect4.top_to_bottom a:hover .info {
    transform: translateY(0px);
}
.item-hover.circle.effect4.bottom_to_top .img {
    transform: translateY(0px);
}
.item-hover.circle.effect4.bottom_to_top .info {
    transform: translateY(-100%);
}
.item-hover.circle.effect4.bottom_to_top a:hover .img {
    transform: translateY(100%);
}
.item-hover.circle.effect4.bottom_to_top a:hover .info {
    transform: translateY(0px);
}
.item-hover.circle.effect5 {
    perspective: 900px;
}
.item-hover.circle.effect5.colored .info .info-back {
    background: none repeat scroll 0 0 rgba(118, 185, 215, 0.5);
}
.item-hover.circle.effect5 .info {
    transform-style: preserve-3d;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect5 .info .info-back {
    backface-visibility: hidden;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    height: 100%;
    transform: rotate3d(0, 1, 0, 180deg);
    visibility: hidden;
    width: 100%;
}
.item-hover.circle.effect5 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect5.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect5 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect5.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect5 a:hover .info {
    transform: rotate3d(0, 1, 0, -180deg);
}
.item-hover.circle.effect5 a:hover .info .info-back {
    visibility: visible;
}
.item-hover.circle.effect6 .img {
    opacity: 1;
    transform: scale(1);
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect6.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect6 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect6 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect6.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect6 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect6.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect6.scale_up .info {
    transform: scale(0.5);
}
.item-hover.circle.effect6.scale_up a:hover .img {
    opacity: 0;
    transform: scale(1.5);
}
.item-hover.circle.effect6.scale_up a:hover .info {
    opacity: 1;
    transform: scale(1);
}
.item-hover.circle.effect6.scale_down .info {
    transform: scale(1.5);
}
.item-hover.circle.effect6.scale_down a:hover .img {
    opacity: 0;
    transform: scale(0.5);
}
.item-hover.circle.effect6.scale_down a:hover .info {
    opacity: 1;
    transform: scale(1);
}
.item-hover.circle.effect6.scale_down_up .info {
    transform: scale(0.5);
    transition: all 0.35s ease-in-out 0.2s;
}
.item-hover.circle.effect6.scale_down_up a:hover .img {
    opacity: 0;
    transform: scale(0.5);
}
.item-hover.circle.effect6.scale_down_up a:hover .info {
    opacity: 1;
    transform: scale(1);
}
.item-hover.circle.effect7 .img {
    opacity: 1;
    transform: scale(1);
    transition: all 0.35s ease-out 0s;
}
.item-hover.circle.effect7.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect7 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease 0.2s;
    visibility: hidden;
}
.item-hover.circle.effect7 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect7.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect7 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect7.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect7 a:hover .img {
    opacity: 0;
    transform: scale(0.5);
}
.item-hover.circle.effect7 a:hover .info {
    opacity: 1;
    visibility: visible;
}
.item-hover.circle.effect7.left_to_right .info {
    transform: translateX(-100%);
}
.item-hover.circle.effect7.left_to_right a:hover .info {
    transform: translateX(0px);
}
.item-hover.circle.effect7.right_to_left .info {
    transform: translateX(100%);
}
.item-hover.circle.effect7.right_to_left a:hover .info {
    transform: translateX(0px);
}
.item-hover.circle.effect7.top_to_bottom .info {
    transform: translateY(100%);
}
.item-hover.circle.effect7.top_to_bottom a:hover .info {
    transform: translateY(0px);
}
.item-hover.circle.effect7.bottom_to_top .info {
    transform: translateY(-100%);
}
.item-hover.circle.effect7.bottom_to_top a:hover .info {
    transform: translateY(0px);
}
.item-hover.circle.effect8.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect8 .img-container {
    transform: scale(1);
    transition: all 0.3s ease-in-out 0s;
}
.item-hover.circle.effect8 .img-container .img {
    opacity: 1;
    transition: all 0.3s ease-in-out 0.3s;
}
.item-hover.circle.effect8 .info-container {
    border-radius: 50%;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.3s ease-in-out 0.3s;
}
.item-hover.circle.effect8 .info {
    background: none repeat scroll 0 0 #333333;
    height: 100%;
    pointer-events: none;
    transform: scale(0.5);
    transition: all 0.35s ease-in-out 0.6s;
    width: 100%;
}
.item-hover.circle.effect8 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 140px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect8.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect8 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect8.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect8 a:hover .img-container {
    pointer-events: none;
    transform: scale(0.5);
}
.item-hover.circle.effect8 a:hover .img-container .img {
    opacity: 0;
    pointer-events: none;
}
.item-hover.circle.effect8 a:hover .info-container {
    opacity: 1;
}
.item-hover.circle.effect8 a:hover .info-container .info {
    transform: scale(1);
}
.item-hover.circle.effect8.left_to_right .img-container .img {
    transform: translateX(0px);
}
.item-hover.circle.effect8.left_to_right .info-container {
    transform: translateX(100%);
}
.item-hover.circle.effect8.left_to_right a:hover .img-container .img {
    transform: translateX(-100%);
}
.item-hover.circle.effect8.left_to_right a:hover .info-container {
    transform: translateX(0px);
}
.item-hover.circle.effect8.right_to_left .img-container .img {
    transform: translateX(0px);
}
.item-hover.circle.effect8.right_to_left .info-container {
    transform: translateX(-100%);
}
.item-hover.circle.effect8.right_to_left a:hover .img-container .img {
    transform: translateX(100%);
}
.item-hover.circle.effect8.right_to_left a:hover .info-container {
    transform: translateX(0px);
}
.item-hover.circle.effect8.top_to_bottom .img-container .img {
    transform: translateY(0px);
}
.item-hover.circle.effect8.top_to_bottom .info-container {
    transform: translateY(-100%);
}
.item-hover.circle.effect8.top_to_bottom a:hover .img-container .img {
    transform: translateY(100%);
}
.item-hover.circle.effect8.top_to_bottom a:hover .info-container {
    transform: translateY(0px);
}
.item-hover.circle.effect8.bottom_to_top .img-container .img {
    transform: translateY(0px);
}
.item-hover.circle.effect8.bottom_to_top .info-container {
    transform: translateY(100%);
}
.item-hover.circle.effect8.bottom_to_top a:hover .img-container .img {
    transform: translateY(-100%);
}
.item-hover.circle.effect8.bottom_to_top a:hover .info-container {
    transform: translateY(0px);
}
.item-hover.circle.effect9 .img {
    opacity: 1;
    transition: all 0.35s ease-out 0s;
}
.item-hover.circle.effect9.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect9 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transition: all 0.35s ease 0.2s;
    visibility: hidden;
}
.item-hover.circle.effect9 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect9.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect9 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect9.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect9 a:hover .img {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
}
.item-hover.circle.effect9 a:hover .info {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
.item-hover.circle.effect9.left_to_right .img {
    transform: translateX(0px) rotate(0deg);
}
.item-hover.circle.effect9.left_to_right a:hover .img {
    transform: translateX(100%) rotate(180deg);
}
.item-hover.circle.effect9.right_to_left .img {
    transform: translateX(0px) rotate(0deg);
}
.item-hover.circle.effect9.right_to_left a:hover .img {
    transform: translateX(-100%) rotate(-180deg);
}
.item-hover.circle.effect9.top_to_bottom .img {
    transform: translateY(0px);
}
.item-hover.circle.effect9.top_to_bottom a:hover .img {
    transform: translateY(-100%);
}
.item-hover.circle.effect9.bottom_to_top .img {
    transform: translateY(0px);
}
.item-hover.circle.effect9.bottom_to_top a:hover .img {
    transform: translateY(100%);
}
.item-hover.circle.effect10 .img {
    transform: scale(1);
    transition: all 0.35s ease-in-out 0s;
    z-index: 11;
}
.item-hover.circle.effect10.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect10 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect10 .info h3 {
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 2px;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect10.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect10 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
}
.item-hover.circle.effect10.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect10 a:hover .info {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
.item-hover.circle.effect10.top_to_bottom .info h3 {
    height: 78px;
    margin: 0 30px;
    padding: 25px 0 0;
}
.item-hover.circle.effect10.top_to_bottom .info p {
    margin: 0 30px;
    padding: 5px;
}
.item-hover.circle.effect10.top_to_bottom a:hover .img {
    transform: translateY(50px) scale(0.5);
}
.item-hover.circle.effect10.bottom_to_top .info h3 {
    height: 78px;
    margin: 95px 30px 0;
    padding: 25px 0 0;
}
.item-hover.circle.effect10.bottom_to_top .info p {
    margin: 0 30px;
    padding: 5px;
}
.item-hover.circle.effect10.bottom_to_top a:hover .img {
    transform: translateY(-50px) scale(0.5);
}
.item-hover.circle.effect11 {
    perspective: 900px;
}
.item-hover.circle.effect11 .img {
    opacity: 1;
    transform-origin: 50% 50% 0;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect11.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect11 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    transition: all 0.35s ease 0.35s;
    visibility: hidden;
}
.item-hover.circle.effect11 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect11.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect11 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect11.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect11 a:hover .img {
    opacity: 0;
}
.item-hover.circle.effect11 a:hover .info {
    opacity: 1;
    visibility: visible;
}
.item-hover.circle.effect11.left_to_right .img {
    transform: translateZ(0px) rotateY(0deg);
}
.item-hover.circle.effect11.left_to_right .info {
    transform: translateZ(-1000px) rotateY(-90deg);
}
.item-hover.circle.effect11.left_to_right a:hover .img {
    transform: translateZ(-1000px) rotateY(90deg);
}
.item-hover.circle.effect11.left_to_right a:hover .info {
    transform: translateZ(0px) rotateY(0deg);
}
.item-hover.circle.effect11.right_to_left .img {
    transform: translateZ(0px) rotateY(0deg);
}
.item-hover.circle.effect11.right_to_left .info {
    transform: translateZ(-1000px) rotateY(90deg);
}
.item-hover.circle.effect11.right_to_left a:hover .img {
    transform: translateZ(-1000px) rotateY(-90deg);
}
.item-hover.circle.effect11.right_to_left a:hover .info {
    transform: translateZ(0px) rotateY(0deg);
}
.item-hover.circle.effect11.top_to_bottom .img {
    transform: translateZ(0px) rotateX(0deg);
}
.item-hover.circle.effect11.top_to_bottom .info {
    transform: translateZ(-1000px) rotateX(90deg);
}
.item-hover.circle.effect11.top_to_bottom a:hover .img {
    transform: translateZ(-1000px) rotateX(-90deg);
}
.item-hover.circle.effect11.top_to_bottom a:hover .info {
    transform: translateZ(0px) rotateX(0deg);
}
.item-hover.circle.effect11.bottom_to_top .img {
    transform: translateZ(0px) rotateX(0deg);
}
.item-hover.circle.effect11.bottom_to_top .info {
    transform: translateZ(-1000px) rotateX(-90deg);
}
.item-hover.circle.effect11.bottom_to_top a:hover .img {
    transform: translateZ(-1000px) rotateX(90deg);
}
.item-hover.circle.effect11.bottom_to_top a:hover .info {
    transform: translateZ(0px) rotateX(0deg);
}
.item-hover.circle.effect12 .img {
    opacity: 1;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect12.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect12 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transition: all 0.35s ease-in-out 0s;
    visibility: hidden;
}
.item-hover.circle.effect12 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect12.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect12 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect12.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect12 a:hover .img {
    opacity: 0;
    pointer-events: none;
}
.item-hover.circle.effect12 a:hover .info {
    opacity: 1;
    visibility: visible;
}
.item-hover.circle.effect12.left_to_right .img {
    transform: translateX(0px) rotate(0deg);
}
.item-hover.circle.effect12.left_to_right .info {
    transform: translateX(100%) rotate(180deg);
}
.item-hover.circle.effect12.left_to_right a:hover .img {
    transform: translateX(100%) rotate(180deg);
}
.item-hover.circle.effect12.left_to_right a:hover .info {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.item-hover.circle.effect12.right_to_left .img {
    transform: translateX(0px) rotate(0deg);
}
.item-hover.circle.effect12.right_to_left .info {
    transform: translateX(-100%) rotate(-180deg);
}
.item-hover.circle.effect12.right_to_left a:hover .img {
    transform: translateX(-100%) rotate(-180deg);
}
.item-hover.circle.effect12.right_to_left a:hover .info {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.item-hover.circle.effect12.top_to_bottom .img {
    transform: translateY(0px) rotate(0deg);
}
.item-hover.circle.effect12.top_to_bottom .info {
    transform: translateY(-100%) rotate(-180deg);
}
.item-hover.circle.effect12.top_to_bottom a:hover .img {
    transform: translateY(-100%) rotate(-180deg);
}
.item-hover.circle.effect12.top_to_bottom a:hover .info {
    transform: translateY(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.item-hover.circle.effect12.bottom_to_top .img {
    transform: translateY(0px) rotate(0deg);
}
.item-hover.circle.effect12.bottom_to_top .info {
    transform: translateY(100%) rotate(180deg);
}
.item-hover.circle.effect12.bottom_to_top a:hover .img {
    transform: translateY(100%) rotate(180deg);
}
.item-hover.circle.effect12.bottom_to_top a:hover .info {
    transform: translateY(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.item-hover.circle.effect13.colored .info {
    background: none repeat scroll 0 0 rgba(118, 185, 215, 0.5);
}
.item-hover.circle.effect13 .info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect13 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    transition: all 0.35s ease-in-out 0s;
    visibility: hidden;
}
.item-hover.circle.effect13.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect13 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
    transition: all 0.35s ease-in-out 0s;
    visibility: hidden;
}
.item-hover.circle.effect13.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect13 a:hover .info {
    opacity: 1;
}
.item-hover.circle.effect13 a:hover h3 {
    visibility: visible;
}
.item-hover.circle.effect13 a:hover p {
    visibility: visible;
}
.item-hover.circle.effect13.from_left_and_right .info h3 {
    transform: translateX(-100%);
}
.item-hover.circle.effect13.from_left_and_right .info p {
    transform: translateX(100%);
}
.item-hover.circle.effect13.from_left_and_right a:hover h3 {
    transform: translateX(0px);
}
.item-hover.circle.effect13.from_left_and_right a:hover p {
    transform: translateX(0px);
}
.item-hover.circle.effect13.top_to_bottom .info h3 {
    transform: translateY(-100%);
}
.item-hover.circle.effect13.top_to_bottom .info p {
    transform: translateY(-100%);
}
.item-hover.circle.effect13.top_to_bottom a:hover h3 {
    transform: translateY(0px);
}
.item-hover.circle.effect13.top_to_bottom a:hover p {
    transform: translateY(0px);
}
.item-hover.circle.effect13.bottom_to_top .info h3 {
    transform: translateY(100%);
}
.item-hover.circle.effect13.bottom_to_top .info p {
    transform: translateY(100%);
}
.item-hover.circle.effect13.bottom_to_top a:hover h3 {
    transform: translateY(0px);
}
.item-hover.circle.effect13.bottom_to_top a:hover p {
    transform: translateY(0px);
}
.item-hover.circle.effect14 {
    perspective: 900px;
}
.item-hover.circle.effect14 .img {
    opacity: 1;
    transition: all 0.4s ease-out 0s;
    visibility: visible;
}
.item-hover.circle.effect14.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect14 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    transition: all 0.35s ease-in-out 0.3s;
    visibility: hidden;
}
.item-hover.circle.effect14 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect14.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect14 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect14.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect14 a:hover .img {
    opacity: 0;
    visibility: hidden;
}
.item-hover.circle.effect14 a:hover .info {
    opacity: 1;
    visibility: visible;
}
.item-hover.circle.effect14.left_to_right .img {
    transform: rotateY(0deg);
    transform-origin: 100% 50% 0;
}
.item-hover.circle.effect14.left_to_right .info {
    transform: rotateY(90deg);
    transform-origin: 0 50% 0;
}
.item-hover.circle.effect14.left_to_right a:hover .img {
    transform: rotateY(-90deg);
}
.item-hover.circle.effect14.left_to_right a:hover .info {
    transform: rotateY(0deg);
}
.item-hover.circle.effect14.right_to_left .img {
    transform: rotateY(0deg);
    transform-origin: 0 50% 0;
}
.item-hover.circle.effect14.right_to_left .info {
    transform: rotateY(-90deg);
    transform-origin: 100% 50% 0;
}
.item-hover.circle.effect14.right_to_left a:hover .img {
    transform: rotateY(90deg);
}
.item-hover.circle.effect14.right_to_left a:hover .info {
    transform: rotateY(0deg);
}
.item-hover.circle.effect14.top_to_bottom .img {
    transform: rotateX(0deg);
    transform-origin: 50% 100% 0;
}
.item-hover.circle.effect14.top_to_bottom .info {
    transform: rotateX(-90deg);
    transform-origin: 50% 0 0;
}
.item-hover.circle.effect14.top_to_bottom a:hover .img {
    transform: rotateX(90deg);
}
.item-hover.circle.effect14.top_to_bottom a:hover .info {
    transform: rotateX(0deg);
}
.item-hover.circle.effect14.bottom_to_top .img {
    transform: rotateX(0deg);
    transform-origin: 50% 0 0;
}
.item-hover.circle.effect14.bottom_to_top .info {
    transform: rotateX(90deg);
    transform-origin: 50% 100% 0;
}
.item-hover.circle.effect14.bottom_to_top a:hover .img {
    transform: rotateX(-90deg);
}
.item-hover.circle.effect14.bottom_to_top a:hover .info {
    transform: rotateX(0deg);
}
.item-hover.circle.effect15 .img {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition: all 0.35s ease-in-out 0s;
    visibility: visible;
}
.item-hover.circle.effect15.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect15 .info {
    background: none repeat scroll 0 0 #333333;
    opacity: 0;
    transform: scale(0.5) rotate(-720deg);
    transition: all 0.35s ease-in-out 0.3s;
    visibility: hidden;
}
.item-hover.circle.effect15 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect15.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect15 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect15.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect15 a:hover .img {
    opacity: 0;
    transform: scale(0.5) rotate(720deg);
    visibility: hidden;
}
.item-hover.circle.effect15 a:hover .info {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    visibility: visible;
}
.item-hover.circle.effect16 .img {
    transition: all 0.35s ease-in-out 0s;
    z-index: 11;
}
.item-hover.circle.effect16.colored .info {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect16 .info {
    background: none repeat scroll 0 0 #333333;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect16 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect16.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect16 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect16.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect16.left_to_right .img {
    transform-origin: 95% 40% 0;
}
.item-hover.circle.effect16.left_to_right .img:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.898);
    content: "";
    height: 8px;
    left: 95%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 40%;
    width: 8px;
}
.item-hover.circle.effect16.left_to_right a:hover .img {
    transform: rotate(-120deg);
}
.item-hover.circle.effect16.right_to_left .img {
    transform-origin: 5% 40% 0;
}
.item-hover.circle.effect16.right_to_left .img:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.898);
    content: "";
    height: 8px;
    left: 5%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 40%;
    width: 8px;
}
.item-hover.circle.effect16.right_to_left a:hover .img {
    transform: rotate(120deg);
}
.item-hover.circle.effect17 .info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect17 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect17.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect17 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    opacity: 0;
    padding: 10px 5px;
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect17.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect17 a:hover .img:before {
    box-shadow: 0 0 0 110px rgba(0, 0, 0, 0.6) inset, 0 0 0 16px rgba(255, 255, 255, 0.8) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.item-hover.circle.effect17 a:hover .info {
    opacity: 1;
    transform: scale(1);
}
.item-hover.circle.effect17 a:hover .info p {
    opacity: 1;
}
.item-hover.circle.effect17.colored a:hover .img:before {
    box-shadow: 0 0 0 110px rgba(118, 185, 215, 0.5) inset, 0 0 0 16px rgba(255, 255, 255, 0.8) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.item-hover.circle.effect18 {
    perspective: 900px;
}
.item-hover.circle.effect18 .img {
    transition: all 0.5s ease-in-out 0s;
    z-index: 11;
}
.item-hover.circle.effect18.colored .info .info-back {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect18 .info {
    transform-style: preserve-3d;
}
.item-hover.circle.effect18 .info .info-back {
    background: none repeat scroll 0 0 #333333;
    border-radius: 50%;
    height: 100%;
    opacity: 1;
    width: 100%;
}
.item-hover.circle.effect18 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect18.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect18 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect18.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect18.bottom_to_top .img {
    transform-origin: 50% 0 0;
}
.item-hover.circle.effect18.bottom_to_top a:hover .img {
    transform: rotate3d(1, 0, 0, 180deg);
}
.item-hover.circle.effect18.top_to_bottom .img {
    transform-origin: 50% 100% 0;
}
.item-hover.circle.effect18.top_to_bottom a:hover .img {
    transform: rotate3d(1, 0, 0, -180deg);
}
.item-hover.circle.effect18.left_to_right .img {
    transform-origin: 100% 50% 0;
}
.item-hover.circle.effect18.left_to_right a:hover .img {
    transform: rotate3d(0, 1, 0, 180deg);
}
.item-hover.circle.effect18.right_to_left .img {
    transform-origin: 0 50% 0;
}
.item-hover.circle.effect18.right_to_left a:hover .img {
    transform: rotate3d(0, 1, 0, -180deg);
}
.item-hover.circle.effect19.colored .info {
    background: none repeat scroll 0 0 rgba(118, 185, 215, 0.5);
}
.item-hover.circle.effect19 .info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    opacity: 0;
    transform: scale(0);
    transition: all 0.35s ease-in-out 0s;
}
.item-hover.circle.effect19 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 140px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect19.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect19 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect19.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect19 a:hover .info {
    opacity: 1;
    transform: scale(1);
}
.item-hover.circle.effect20 {
    perspective: 900px;
}
.item-hover.circle.effect20 .img {
    transform-origin: 50% 0 0;
    transition: all 0.35s linear 0s;
}
.item-hover.circle.effect20.colored .info .info-back {
    background: none repeat scroll 0 0 #76b9d7;
}
.item-hover.circle.effect20 .info {
    transform-style: preserve-3d;
}
.item-hover.circle.effect20 .info .info-back {
    backface-visibility: hidden;
    background: none repeat scroll 0 0 #333333;
    border-radius: 50%;
    height: 100%;
    opacity: 1;
    transform-origin: 50% 0 0;
    transition: all 0.35s linear 0s;
    visibility: hidden;
    width: 100%;
}
.item-hover.circle.effect20 .info h3 {
    color: #ffffff;
    font-size: 22px;
    height: 110px;
    letter-spacing: 2px;
    margin: 0 30px;
    padding: 55px 0 0;
    position: relative;
    text-shadow: 0 0 1px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.item-hover.circle.effect20.colored .info h3 {
    color: #ffffff;
}
.item-hover.circle.effect20 .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.item-hover.circle.effect20.colored .info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #bbbbbb;
}
.item-hover.circle.effect20 a:hover .img {
    opacity: 0;
}
.item-hover.circle.effect20 a:hover .info .info-back {
    opacity: 1;
    visibility: visible;
}
.item-hover.circle.effect20.top_to_bottom .info .info-back {
    transform: translate3d(0px, 0px, -220px) rotate3d(1, 0, 0, 90deg);
}
.item-hover.circle.effect20.top_to_bottom a:hover .img {
    transform: translate3d(0px, 280px, 0px) rotate3d(1, 0, 0, -90deg);
}
.item-hover.circle.effect20.top_to_bottom a:hover .info .info-back {
    transform: rotate3d(1, 0, 0, 0deg);
}
.item-hover.circle.effect20.bottom_to_top .info .info-back {
    transform: translate3d(0px, 280px, 0px) rotate3d(1, 0, 0, -90deg);
}
.item-hover.circle.effect20.bottom_to_top a:hover .img {
    transform: translate3d(0px, 0px, -220px) rotate3d(1, 0, 0, 90deg);
}
.item-hover.circle.effect20.bottom_to_top a:hover .info .info-back {
    transform: rotate3d(1, 0, 0, 0deg);
}


/** ADMIN **/
#testquestiontable  tr td p { margin:0px;}


.list-default {
	width: 100%;
}


.list-default  .list-group-item.active,
.list-default .list-group-item.active:hover, 
.list-default  .list-group-item.active:focus {
	background:  #2aadde;
	color: #FFF;
	border-color: #1797c7;
}